html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body, #root {
  font-family: -apple-system, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.2;
  width: 100%;
  color: var(--text-main);
  background-color: var(--background-main);
  overflow: auto;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--link);

  &:hover {
    text-decoration: underline;
    color: var(--link-hover);
  }
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select, textarea, button {
  border: none;
  font-family: inherit;
  font-size: 100%;
  color: var(--text-main);
  background-color: var(--background-secondary);

  &:focus {
    outline: 0;
  }
}

* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
    background-color: var(--background-main);
  }

  &::-webkit-scrollbar-thumb {
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 0.25rem;
    background-color: var(--background-secondary);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.icons {
  color: var(--text-main);
  transition: 0.2s ease;

  &:hover {
    transition: 0.2s ease;
  }
}
