:root {
  // main
  --main-hs: 210 100%;
  --main-90: hsl(var(--main-hs) 90%);
  --main-80: hsl(var(--main-hs) 80%);
  --main-70: hsl(var(--main-hs) 70%);
  --main-60: hsl(var(--main-hs) 60%);
  --main-50: hsl(var(--main-hs) 50%);
  --main-40: hsl(var(--main-hs) 40%);
  --main-30: hsl(var(--main-hs) 30%);
  --main-20: hsl(var(--main-hs) 20%);
  --main-10: hsl(var(--main-hs) 10%);
  --main: var(--main-50);
  // secondary
  --secondary-hs: 48 100%;
  --secondary-90: hsl(var(--secondary-hs) 90%);
  --secondary-80: hsl(var(--secondary-hs) 80%);
  --secondary-70: hsl(var(--secondary-hs) 70%);
  --secondary-60: hsl(var(--secondary-hs) 60%);
  --secondary-50: hsl(var(--secondary-hs) 50%);
  --secondary-40: hsl(var(--secondary-hs) 40%);
  --secondary-30: hsl(var(--secondary-hs) 30%);
  --secondary-20: hsl(var(--secondary-hs) 20%);
  --secondary-10: hsl(var(--secondary-hs) 10%);
  --secondary: var(--secondary-50);
  // gray
  --black: hsl(0 0% 0%);
  --gray-10: hsl(0 0% 10%);
  --gray-20: hsl(0 0% 20%);
  --gray-30: hsl(0 0% 30%);
  --gray-40: hsl(0 0% 40%);
  --gray-50: hsl(0 0% 50%);
  --gray-60: hsl(0 0% 60%);
  --gray-70: hsl(0 0% 70%);
  --gray-80: hsl(0 0% 80%);
  --gray-90: hsl(0 0% 90%);
  --gray-95: hsl(0 0% 95%);
  --white: hsl(0 0% 100%);
}

@media (prefers-color-scheme: light) {
  :root {
    // text
    --text-main: var(--gray-20);
    --text-secondary: var(--gray-40);
    // background
    --background-main: var(--white);
    --background-secondary: var(--gray-95);
    // link
    --link: var(--main-50);
    --link-hover: var(--main-40);
    // border-color
    --input-border-color: var(--gray-80);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    // text
    --text-main: var(--white);
    --text-secondary: var(--gray-80);
    // background
    --background-main: var(--gray-20);
    --background-secondary: var(--gray-10);
    // link
    --link: var(--main-50);
    --link-hover: var(--main-40);
    // border-color
    --input-border-color: var(--gray-30);
  }
}

